# Compilação e Build
build/
bin/
uploads/
*.exe
*.o
*.obj
*.env

# Arquivos de IDE
.vscode/
.idea/

# Banco de Dados (NÃO versione o banco real, ele muda localmente)
*.db
*.sqlite
*.sqlite3

# Arquivos Temporários
*.txt
